@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;600;700&display=swap");

.header {
  background-color: rgba(0, 0, 0, 0.518);
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: space-between;
  /* box-shadow: 0 2px 10px 5px rgb(159, 157, 157); */
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  z-index: 1;
}

.innerHeader {
  display: flex;
  justify-content: space-between;
}

.title {
  font-family: "Comfortaa", cursive;
  padding: 1rem 1rem 1rem 2rem;
  font-weight: 700;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 2px black;
}

.icon {
  padding: 1rem 2rem 1rem 1rem;
  display: none;
  font-size: 2rem;
  visibility: hidden;
}

.list {
  margin: 0rem 2rem 0rem 1rem;
  height: 100%;
}

.list a {
  text-decoration: none;
  font-family: "Comfortaa", cursive;
  font-size: 1.2rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
  padding: 1rem;
  height: 100%;
  letter-spacing: 1px;
}

.list a:hover {
  color: rgb(207, 205, 205);
  text-shadow: 0 2px 4px rgb(0, 0, 0);
}


@media screen and (max-width: 820px) {
  .icon {
    display: block;
    visibility: visible;
  }
  .header {
    display: block;
  }

  .menuContainer {
    position: absolute;
    top: 100%;
    width: 100%;
    padding-top: 1rem;
    display: none;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.518);
  }

  .showMenuContainer {
    visibility: visible;
    display: block;
  }
  .list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }

  .list a {
    display: inline-block;
    padding: 1rem;
    font-size: 1rem;
  }
}

